@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<InfoCardModalMain></InfoCardModalMain>

<h1 class="text-center">Witaj na Stock Trading Development!</h1>

<p class="text-black, text-center">Na tej stronie możesz rozwinąć swoje umiejętności inwestowania na giełdzie, lub zacząć całkowicie od początku.<br>
    Aby poznać podstawy poruszania się po stronie, kliknij znak zapytania w lewym górnym rogu tej strony.
</p>
