@rendermode InteractiveServer
@using System.Threading.Tasks;

@inject IJSRuntime JSRuntime;


<div class="modal fade" id="infoCardModal" tabindex="-1" aria-labelledby="infoCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content  bg-info opacity-100 border">
            <div class="modal-header">
                <h5 class="modal-title" id="infoCardModalLabel">Jak działa strona historii.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
            </div>
            <div class="modal-body modal-lg">
                <p>
                    Witaj na podstronie <b>Historia!</b>
                </p>

                <p class="text-black">
                    Aktualnie znajdujsze się na <b>Stronie Historii.</b> W tym miejscu możesz sprawdzić sprzedane wcześniej akcje.
                    Jeżeli nie zostały sprzedane żadne akcje, strona wyświetli jedynie napis "Portfolio jest puste".
                    (Jeżeli z jakiegoś powodu nic Ci się nie wyświetliło, spróbuj odświeżyć stronę i odczekać chwilę na pobranie danych)
                    <br><br>

                    <b>Miłego inwestowania!</b><br><br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

@code {

    public async Task ShowModal()
    {
        await JSRuntime.InvokeVoidAsync("showInfoCardModal");
    }
}

<div class="modal fade" id="infoCardModal" tabindex="-1" aria-labelledby="infoCardModalLabel" aria-hidden="true">
</div>

<button type="button" class="btn btn-link" @onclick="@ShowModal">
    <i class="bi bi-question-circle-fill h4"></i>
</button>